header{
    background-color: #FF7657;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
body{
    background-color: #EEE;
}
header a{
    color: #FFF;
}
.menu{
    display: inline;
}
.btn-menu{
    border-radius: 0px; 
    /*border-left: 1px solid #E5E5E5;*/
}
.input-image{
    display: none;
}
.poll{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #FFF;
    margin-top: 20px;
}
.poll-content{
    padding: 10px;
}
.poll-image{
    max-width: 80%;
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}
.progress{
    background-color: lightgray;
}
.progress-bar{
    background-color: #FF7657;
}
hr{
    height: 2px;
    background-color: grey;
}
.option{
    margin-bottom: 10px;
}
.warning{
    color: #ff0000;
}