<template name="HomeLayout">
    {{> Header}}
    <main>
          <div class="col-xs-12 col-md-8 col-md-offset-2">
        {{> Template.dynamic template=main}}
          </div>
    </main>
</template>