<template name="NewPoll">
    <div class="poll">
        <div class="poll-content">
            <h2>Create a new poll</h2>
            <hr/>
            <form name="NewPoll" class="new-poll-form">
                <div id="question-text" class="warning"></div>
                <input type="text" name="question" class="form-control" autocomplete="off" placeholder="Ask a question">
                <div class="checkbox">
                    <label><input type="checkbox" class="add-image">Add Image</label>
                </div>
                <input type="text" id="image" name="image" class="form-control input-image" autocomplete="off" placeholder="Image link">
                <div id="options" class="warning">
                    <hr/>
                    <div id="options-text"></div>
                    <input type="text" id="0" name="0" class="option form-control" autocomplete="off" placeholder="Enter option...">
                </div>
                <input type="submit" value="Submit" class="btn btn-success">
                <input type="button" class="add-option btn btn-default" value="Add option">
                <!--<input type="button" class="remove-option" value="removeOption">-->
            </form>
        </div>
    </div>
</template>