<template name="Polls">
    <div class="poll">
        <h2> Latest polls</h2>
        {{#if Template.subscriptionsReady}} {{#each Polls}}
        <a href="/Poll/{{formatId _id}}">
            <div class="poll-content">
                <h2>{{question}}</h2>
            </div>
        </a>
        {{/each}} {{else}}
        <h2> Loading ...</h2>
        {{/if}}
    </div>
</template>