<template name="Poll">
    <div class="poll">
        {{#if Template.subscriptionsReady}}
        <div class="poll-content">
            <h2>{{Poll.question}}</h2>
            <hr/>
            <div class="poll-image">
                <img src="{{Poll.image}}">
            </div>
            {{#each Poll.options}}
            <h3> {{text}} - {{votes}} </h3> <input type="button" id="{{id}}" class="add-vote btn btn-success" value="add">
            {{/each}}
        </div>
        {{else}}
        <h2> Loading ...</h2>
        {{/if}}
    </div>
</template>