<template name="Result">
    <div class="poll">
        {{#if Template.subscriptionsReady}}
        <!--<div class="poll-header">
            <h2>{{Poll.question}}</h2>
        </div>-->
        <div class="poll-content">
              <h2>{{Poll.question}}</h2><hr/>
            <div class="poll-image">
                <img src="{{Poll.image}}">
            </div>
            {{#each Poll.options}}
            <div>
                <h3>{{text}} - {{votes}}</h3>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" id="{{id}}" role="progressbar" style="width: {{percentage(id)}}%" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
        <h2> Loading ...</h2>
        {{/if}}
    </div>
</template>