<template name="Top">
    <div class="poll">
        <h2>Top polls</h2>
    {{#if Template.subscriptionsReady}} {{#each Polls}}
        <a href="/Poll/{{formatId _id}}">
            <div class="poll-content">
                <h2>{{question}} - {{totalVotes}}</h2>
            </div>
        </a>
        {{/each}} {{else}}
        <h2> Loading ...</h2>
        {{/if}}
    </div>
</template>