<template name="Header">
    <header>
        <div class="menu">
            <a class="btn btn-menu" href="/">
                <h1>QuickPoll</h1>
            </a>
            <a class="btn btn-menu" href="/">
                <h2>New</h2>
            </a>
            <a class="btn btn-menu" href="/Top">
                <h2>Top polls</h2>
            </a>
            <a class="btn btn-menu" href="/Polls">
                <h2>Latest polls</h2>
            </a>
        </div>
    </header>
</template>